beautifulsoup4==4.8.1
bootstrap4==0.1.0
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.6
django-autocomplete-light==3.4.1
django-bootstrap4==1.0.1
django-crispy-forms==1.8.0
django-csvimport==2.13
django-debug-toolbar==2.1
django-fontawesome==1.0
django-fontawesome-5==1.0.16
django-heroku==0.3.1
django-money==0.15.1
gunicorn==19.9.0
haversine==2.1.2
psycopg2==2.8.4
py-moneyed==0.8.0
pytz==2019.3
PyYAML==5.3
soupsieve==1.9.5
sqlparse==0.3.0
whitenoise==5.0.1
