{% extends "base.html" %}
{% load bootstrap4 %}
{% load humanize %}
{% load static %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-5">
        <h2 class="text-left display-6">Answer a few questions</h2>
        <div class="jumbotron">
            {% bootstrap_messages %}
            <form action="{% url 'activities:index' %}" method="get" class="form">
                {% for field in form %}
                    <div class="form-group row">
                        <label for="area" class="col-sm-4 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {%  bootstrap_field field show_label=False %}
                        </div>
                    </div>
                {% endfor %}
                {% buttons %}
                    <button type="submit" name="submit" value="1" class="btn btn-primary btn-lg btn-block">Plan My Date!</button>
                {% endbuttons %}
            </form>

            {% block extra_js %}
{#   == OLD LONG & LAT CODE FOR AUTO-COMPLETE ON AREAS - REMOVED FOR NOW                                                                                 #}
{#            {{ form.area_choices_data|json_script:"area_choices_data" }}#}
{#            {{ form.media.js }}#}
{#             <script type="text/javascript">#}
{#                var area_choices_data = JSON.parse(document.getElementById('area_choices_data').textContent);#}
{##}
{#                var form_control_input_template = "<input type=\"text\" name=\"area_typeahead\" value=\"\" placeholder=\"Post code or area name\" class=\"form-control typeahead\" required=\"1\" id=\"id_area_typeahead\" autocomplete=\"off\" spellcheck=\"false\">";#}
{#                $(form_control_input_template).insertAfter($('form #id_area '));#}
{##}
{#                $('form #id_area').hide();#}
{#                $('form #id_area_typeahead').attr('value', $('form #id_area').children("option:selected").text());#}
{##}
{##}
{#                $('form #id_area_typeahead').typeahead({#}
{#                  hint: true,#}
{#                  highlight: true,#}
{#                  minLength: 1#}
{#                },#}
{#                {#}
{#                  name: 'area_choices_data',#}
{#                  source: substringMatcher(area_choices_data),#}
{#                });#}
{##}
{#                $('form #id_area_typeahead').on('typeahead:selected', function(evt, item) {#}
{#                     $('form #id_area option').each(function(i) {#}
{#                         if (item == $(this).text())#}
{#                         {#}
{#                            $('form #id_area').val($(this).val());#}
{#                         }#}
{#                     });#}
{##}
{##}
{#                })#}
{#            </script>#}
            {%  endblock %}

        </div>
    </div>
     <div class="col-lg-5" id="date-generated">
        {% if date_generated %}
        <h2 class="text-left display-6">Your top date picks</h2>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Start at:</h3>
                </div>
                <div class="col-sm-8 text-right">

                        <a target="_new" href="https://www.google.com/maps/search/?api=1&amp;query={{ date.meal.address_text }}" class="btn btn-secondary" role="button">MAP</a>
                        {%  if date.event.external_link|length > 5 %}
                            <a target="_new" href="{{ date.event.external_link }}" class="btn btn-secondary">WEB <i class="fas fa-arrow-alt-circle-right"></i></a>
                        {% endif %}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p><strong>{{ date.event.name }}</strong> - <i>{{ date.event.headline }}</i></p>
                    {% if date.event.address_text %}<p>{{ date.event.address_text }}</p>{% else %}<p>Address missing</p>{%  endif %}
                    <p class="text-right">
                        

                        <a href="{{ request.build_absolute_uri }}&amp;force_id={{ date.meal.pk }}" class="refresh-date btn btn-info" role="button">NEW <i class="fas fa-undo-alt"></i> </a>
                    </p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <h3>Then head to:</h3>
                </div>
                <div class="col-sm-8 text-right">

                        <a target="_new" href="https://www.google.com/maps/search/?api=1&amp;query={{ date.event.address_text }}" class="btn btn-secondary" role="button">MAP</a>

                        {%  if date.meal.external_link|length > 1 %}
                            <a target="_new" href="{{ date.meal.external_link }}" class="btn btn-secondary">WEB <i class="fas fa-arrow-alt-circle-right"></i></a>
                        {%  endif %}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p><strong>{{ date.meal.name }} ({{ date.meal.meal_type|capfirst }})</strong> - <i>{{ date.meal.headline }}</i></p>
                    {% if date.meal.address_text %}<p>{{ date.meal.address_text }}</p>{% else %}<p>Address missing</p>{%  endif %}
                    <p class="text-right">
                        <a href="{{ request.build_absolute_uri }}&amp;force_id={{ date.event.pk }}" class="refresh-date btn btn-info" role="button">NEW <i class="fas fa-undo-alt"></i> </a>
                    </p>
                </div>

            </div>
           <hr />
            <div class="row">
               <div class="col-sm-8 text-left">
                   <strong>Total travel</strong> {{ date.distance|floatformat:2|intcomma }}km
                </div>
                <div class="col-sm-4 text-right">
                    <a target="_new" href="https://www.google.com/maps/dir/?api=1&amp;origin={{ date.event.address_text }}&amp;destination={{ date.meal.address_text }}" class="btn btn-secondary" role="button">DIRECTIONS</a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-10">
                    <p>Broaden or change your restrictions to see more date plans</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <p class="text-right">
                        <a href="{{ request.build_absolute_uri }}&amp;force_id=0" class="refresh-date btn btn-info" role="button">Plan date again! <i class="fas fa-undo-alt"></i> </a>
                    </p>
            </div>
        </div>
        {% else %}
        <h2 class="text-left display-6">Your top date picks will be shown here</h2>
        <div class="jumbotron">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                {% if events_list %}
                    <h2>Sample activities</h2>
                    <ul>
                    {% for event in events_list %}
                        <li>{{ event.name }} - {{ event.address_postcode }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No sample events.</p>
                {% endif %}
                </div>
                <div class="col-lg-5">
                {% if meals_list %}
                    <h2>Sample meals</h2>
                    <ul>
                    {% for meal in meals_list %}
                        <li>{{ meal.name }} - {{ meal.address_postcode }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No sample meals.</p>
                {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}