@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .logo img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


body {
    color: #fff;
    background-color: #1d2029;
}

.jumbotron {
    background-color: #2b303d;
}

.btn-secondary {
    color: #fff;
    background-color: #41918f;
    border-color: #41918f;
}

.btn-primary {
    color: #fff;
    background-color: #915241;
    border-color: #915241;
}

.btn-info {
    color: #fff;
    background-color: #915241;
    border-color: #915241;
}

.logo img.logo-background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}


.logo {
    min-height: 240px;
}

.logo .logo-text {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    top:25%;
    left:50px;

    display: inline;
    text-transform: uppercase !important;
}

.logo-row .logo-text-domain, .logo-row .logo-text-tld {

    color: #fff;
}

.logo-row .logo-text-domain {
    color: #fff;
}

.logo-row .logo-text-tld {

}